html{
    width: 100%;
    height: 1300px;
}

body{
    font-family: 'Playpen Sans', cursive;
    margin: 0;
    color: rgb(0, 0, 0);
    

}

header{
    position: fixed;
    width: 100%;
    z-index: 100000;
}

header img{
    margin: 10px;
    height: 50px;
    width: 50px;
}

#contenido{
    background: linear-gradient(to bottom,#564D8C, #8C2786 );
    width: 100%;
    height: 1300px;
    display: flex;
    color: rgb(0, 0, 0);
    text-align: center;
}

canvas {
    position: absolute; /* Posición absoluta para superponer el canvas */
    top: 0;
    left: 0;
    width: 100%;
    height: 1300px;
}

#landing{
    width: auto;
    margin-top: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


.fotos{
    
    min-height: fit-content;
    max-height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 15px solid#73294C;
    border-radius: 140px;
    margin: 20px;
    z-index: 1;
}

.fotos img{
    object-fit: contain;
    height: 200px;
    border-radius: 5%;
}

#presentacion{
    position: relative;
    bottom: 100px;
    background-color: #73294C;
    color: white;
    border-radius: 30px;
    padding: 15px;
}


#presentacion p{
    margin-top: 100px;
}

#guia{
    position: relative;
    bottom: 50px;
    width: 100%;
    padding: 15px;
    height: max-content;
    color: white;
    border-radius: 30px;
    background-color: black;
}

.cor-active :hover{
    height: 60px;
    width: 60px;
}

#pag-boton{
    position: relative;
    width: 100%;
    padding: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}



.modal {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botonmodal{

    background: none;
    border: none;
    color: white;
}

.encabezadomodal{
    background-color: red;

}

#cuerpo-modal{
    color: black;
}

#Modaldiv{
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0;
    margin-bottom: 100px;
}